js/rider-photo-state-machine.json


{
    "Comment": "Rider photo processing workflow",
    "StartAt": "FaceDetection",
    "States": {
      "FaceDetection": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:537665539176:function:wildrydes-step-module-resour-FaceDetectionFunction-1FS5FLFTNKP08",
        "ResultPath": "$.detectedFaceDetails",
        "Next": "CheckFaceDuplicate",
        "Catch": [
          {
            "ErrorEquals": [
              "PhotoDoesNotMeetRequirementError"
            ],
            "ResultPath": "$.errorInfo",
            "Next": "PhotoDoesNotMeetRequirement"
          }
        ]
      },
      "PhotoDoesNotMeetRequirement": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:537665539176:function:wildrydes-step-module-res-NotificationPlaceholderF-1EMWHTTNTSYMB",
        "End": true
      },
    "CheckFaceDuplicate": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:537665539176:function:wildrydes-step-module-resources-FaceSearchFunction-1Q46ERZMOYUXM",
      "ResultPath": null,
      "Next": "ParallelProcessing",
      "Catch": [
        {
          "ErrorEquals": [
            "FaceAlreadyExistsError"
          ],
          "ResultPath": "$.errorInfo",
          "Next": "PhotoDoesNotMeetRequirement"
        }
      ]
    },
    "ParallelProcessing": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "AddFaceToIndex",
          "States": {
            "AddFaceToIndex": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:537665539176:function:wildrydes-step-module-resources-IndexFaceFunction-POWH2GC9461T",
              "End": true
            }
          }
        },
        {
          "StartAt": "Thumbnail",
          "States": {
            "Thumbnail": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:537665539176:function:wildrydes-step-module-resources-ThumbnailFunction-EIOVRJCYV6AG",
              "End": true
            }
          }
        }
      ],
       "ResultPath": "$.parallelResult",
       "Next": "PersistMetadata"
    },
    "PersistMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:537665539176:function:wildrydes-step-module-reso-PersistMetadataFunction-1IG0DJULC793E",
      "ResultPath": null,
      "End": true
    }
  }
}
